    <%= render :partial => 'shared/navigation' %>

    <div style="padding: 0px 30px">
        <h2>MH Skynet - Local File Cache</h2>
    </div>

    <div style="padding: 0px 30px">

	<%= form_tag(nil, multipart: true) do %>

	<p>Picture: <%= file_field_tag 'picture' %></p>

	<p><input type="submit" /></p>

	<% end %>

    </div>
