    <%= render :partial => 'shared/navigation' %>

    <div style="padding: 0px 30px">
        <h2>MH Skynet - Local Mirror</h2>
    </div>

    <div style="padding: 0px 30px">

	<form method="GET">

	<p>URL: <input name="id" size="150"></p>

	<p><input type="submit" /></p>

	</form>

    </div>
