

<div id="result">Loading...</div>

<script>

$( document ).ready(function() {
 $.get( "https://www.googleapis.com/youtube/v3/videos?key=AIzaSyBFSdS8dvEv_N3KEw4IxHXHHIFOIW-3XYY&part=fileDetails&id=jMXXnLSRdBE", function( data ) {
  $( "#result" ).html( data );
  alert( "Load was performed." );
 });
});

</script>
