

<div id="result" class="result">Loading...</div>

<script>

$( document ).ready(function() {
 alert("about to fetch...");
 $.get( "https://www.googleapis.com/youtube/v3/videos?id=jMXXnLSRdBE&key=AIzaSyBFSdS8dvEv_N3KEw4IxHXHHIFOIW-3XYY&fields=items(snippet(title))&part=snippet", function( data ) {
  $( "#result" ).html( data.items[0].snippet.title );
  alert( "Load was performed: "+data.items[0].snippet.title );
 });
});

</script>
