

<div id="result">Loading...</div>

<script>

$( document ).ready(function() {
 $.get( "https://www.googleapis.com/youtube/v3/videos?key=<%= @google_domain_api_key.html_safe %>&part=snippet&id=e5ep8jp2zkQ", function( data ) {
  $( ".result" ).html( data );
  alert( "Load was performed." );
 });
});

</script>
