    <%= render :partial => 'shared/navigation' %>

    <div style="padding: 0px 30px">
        <h2>MH Skynet - Game - Add Room</h2>
    </div>

<%= render :partial => "room_form" %>

<%= render :partial => "rooms_list" %>
