  <div id="debug">
    
    <h5>Application Debugging</h5>
    
    <p>
      This will only show up in "development" mode
    </p>
    
    <h5>Params</h5>
    
    <%= debug(params) %>

    <h5>Session</h5>
    
    <%= debug(@session) %>

    <h5>Instance Variables</h5>
    
    <%= debug(instance_variables) %>
    
  </div>

