   <div style="padding: 20px 30px"><a href="https://www.disqus.com/home/discussion/mhskynet/mh_skynet_48"><span class="glyphicon glyphicon-phone-alt"></span> Mobile? Tap here.</a>

   <div style="padding: 0px 30px; float:right;">
     <a href="/">Home</a> | 
     <a href="/dark_room">Dark Room<sup>new!</sup></a> | 
     <a href="/mh_radio">MH Radio</a> | 
     <a href="/screening_room">The Screening Room</a> | 
     <a href="/mandelbrot">Mandelbrot</a> | 
<!--
     <a href="/hang_man">Hang Man</a> | 
     <a href="/live_chat">Live Text Chat</a> |
-->
     <a href="/suggestions">Suggestions/Feedback</a>
   </div>
