<div class="modal fade" id="media_terms_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Terms and Conditions</h4>
      </div>
      <div class="modal-body">
	<p>By checking the "Agreed to Terms" checkbox you are agreeing that the content you are scheduling to show is legally 
	approved of and resposnible by the hosting service providing that media.  Responsiblity of any violation of Copyright 
	or other laws in scheduling content on this site (mhsky.net) falls onto the scheduler and hoster of that content.</p>
      </div>
      <div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
