
    <%= render :partial => 'shared/navigation' %>

    <div style="padding: 0px 30px">
	<h2>MH Skynet</h2>
    </div>

   <div style="padding: 10px 30px 0 30px" id="movie_status"><i>Loading...</i></div>
   <div style="padding: 10px 30px 0 30px;clear: left" id="movie_status_2"><i>Loading 2...</i></div>

   <script>
     var last_movie_status = "";
     var last_movie_status_2 = "";
     var movie_sign_time = 100000000;
     var movie_sign_time_timeout;

     function update_movie_status(animate_on_update) {
      $.get( "/screening_room/currently_playing", function( data ) {
       if (animate_on_update && (data != last_movie_status)) {
        $( "#movie_status" ).html( data );
        $( "#movie_status" ).effect("highlight");
       } else {
        $( "#movie_status" ).html( data );
       }
       last_movie_status = data;
      });
     }

     function update_movie_status_2() {
      $.get( "/screening_room/currently_playing_2", function( data ) {
       $( "#movie_status_2" ).html( data );
       last_movie_status_2 = data;
      });
     }

    function home_movie_sign() {
     $( "body" ).effect("highlight", {color: "#808080" }, 2000);
    }

    function update_movie_sign(clear_old_timeout) {
     $.get( "/screening_room/currently_playing_moviesign", function( data ) {
      if (clear_old_timeout) {
       window.clearTimeout(movie_sign_time_timeout);
      }
      if (data > 0) {
       movie_sign_time_timeout = setTimeout(function(){home_movie_sign()},data)
       movie_sign_time = data;
      }
     });
    }

     $( document ).ready(function() {
      update_movie_sign(false);
      setInterval(function(){ update_movie_sign(true); update_movie_status_2(); }, 60000);
      update_movie_status(false);
      update_movie_status_2();
      setInterval(function(){ update_movie_status(true); update_movie_status_2(); }, 60000);
     });
   </script>

    <div style="padding: 0px 60px; height:700px">
	<a href="/home_header.jpg" target="_blank">
	<img src="/airport_concourse_sign_only.gif" border="0" style="position: absolute; left: 395px; top: 383px; z-index: 10;"/>
	<img src="/home_header.jpg" border="0" width="1000" style="position: absolute; top: 180px; left: 100px;" />
	</a>
    </div>

<% if false %>
<center>
<!-- Poll -->
 <div id="mh_poll">
  <a onclick="hide_poll();">- Hide Poll</a><br />
<script type="text/javascript" src="http://www.easypolls.net/ext/scripts/emPoll.js?p=5771df9fe4b0888e4b15af5d"></script><a class="OPP-powered-by" href="http://www.objectplanet.com/opinio/" style="text-decoration:none;"><div style="font: 9px arial; color: gray;">survey tools</div></a>
<noscript>JavaScript is disabled!</noscript>
 </div>
</center>

<script>
 function hide_poll() {
  document.getElementById('mh_poll').style.display='none';
 }
</script>
<!-- End of Poll -->
<% end %>


    <div id="disqus_thread" style="padding: 0px 30px"></div>
    <script type="text/javascript">

        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'mhskynet'; // required: replace example with your forum shortname
        var disqus_identifier = 'home__2';
        var disqus_url = 'http://www.mhsky.net/?version=2';
        var disqus_disable_mobile = false;

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

<!--
// This works for new comments posted (not received)
            page: {
                url: b,
                title: b,
                slug: b,
                category_id: b,
                identifier: b,
                language: b,
                api_key: b,
                remote_auth_s3: b,
                author_s3: b
            },
            experiment: {
                enable_scroll_container: b,
                force_auto_styles: b,
                sort_order: b
            },
            discovery: {
                disable_all: b,
                disable_promoted: b,
                sponsored_comment_id: b
            },
            strings: b,
            sso: {},
            callbacks: {
                preData: [],
                preInit: [],
                onInit: [],
                afterRender: [],
                onReady: [],
                onNewComment: [],
                preReset: [],
                onPaginate: [],
                onIdentify: [],
                beforeComment: []
            }

function disqus_config() {
    this.callbacks.onNewComment = [function(comment) { 
      alert(comment.id);
    }];
}
-->

    <%= render :partial => 'shared/footer' %>
