<center><div><a href="/screening_room/<%= @screening_room %>">Screening Room</a> | <a href="/screening_room/schedule_movie/<%= @screening_room %>">Schedule a Movie</a> | <a href="/screening_room/history/<%= @screening_room %>">Screening Room Queue</a> | <a href="/">Main Forum</a> | <a href="/screening_room/change_time_zone">Set Your Time Zone</a></div></center>
